<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Turtlebot initial pose -->
  <arg name="x_pos" default="0.0"/> <!-- -3.5 -->
  <arg name="y_pos" default="0.0"/> <!-- 2.5 -->
  <arg name="z_pos" default="0.0"/> <!-- se metto un offset è perchè il pavimento ha uno spessore non nullo-->
  <arg name="yaw_pos" default="1.5707"/> <!-- 3.1415 -->
  <!-- Kuka iiwa initial pose -->
  <arg name="kuka_x_pos" default="2.0"/> 
  <arg name="kuka_y_pos" default="4.5"/> 
  <arg name="kuka_z_pos" default="0.0"/> <!-- se metto un offset è perchè il pavimento ha uno spessore non nullo-->


  <!-- No namespace here as we will share this description.
  Access with slash at the beginning -->
  
  <!-- TURTLEBOT3 BURGER -->
  <!--<group ns="turtlebot">
    <param name="tf_prefix" value="turtlebot" />
    <param name="robot_description" command="$(find xacro)/xacro $(find rl_project_dejulio)/urdf/turtlebot/turtlebot3_burger.urdf.xacro" />
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw_pos) -param robot_description"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      <rosparam file="$(find rl_project_dejulio)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find rl_project_dejulio)/param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find rl_project_dejulio)/param/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find rl_project_dejulio)/param/move_base_params.yaml" command="load" />
      <rosparam file="$(find rl_project_dejulio)/param/dwa_local_planner_params.yaml" command="load" />      
      <remap from="map" to="/map" />

       li commento tanto non vengono caricati in ogni caso
      <param name="controller_frequency" value="10.0" />
      <param name="/move_base/global_costmap/robot_base_frame" value="turtlebot/base_link"/>
      <param name="/move_base/local_costmap/robot_base_frame" value="turtlebot/base_link"/>
      <param name="/move_base/local_costmap/global_frame" value="turtlebot/odom"/>
      <param name="/move_base/global_costmap/obstacle_layer/scan/topic" value="turtlebot/scan"/>
      
      <remap from="map" to="/map" />
    </node>

  </group> -->

  <!-- TURTLEBOT3 BURGER -->
  
  <param name="robot_description" command="$(find xacro)/xacro $(find rl_project_dejulio)/urdf/turtlebot/turtlebot3_burger.urdf.xacro" />
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw_pos) -param robot_description"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  

  <!-- KUKA IIWA -->
  
  <node pkg="tf" type="static_transform_publisher" name="map_to_world_tf" args="$(arg kuka_x_pos) $(arg kuka_y_pos) $(arg kuka_z_pos) 0 0 0 /map /world 50"/>

  <group ns="kuka_iiwa">

    <include file="$(find rl_project_dejulio)/launch/aruco_kuka_iiwa.launch"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find rl_project_dejulio)/urdf/kuka_iiwa/kuka_iiwa_ctrl.xacro'" />

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model iiwa -x $(arg kuka_x_pos) -y $(arg kuka_y_pos) -z $(arg kuka_z_pos) -param robot_description"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
    <rosparam file="$(find kuka_iiwa_moveit_config)/config/ros_controllers.yaml" command="load"/>
    <include file="$(find kuka_iiwa_moveit_config)/launch/move_group.launch"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="kuka_iiwa_state_controller kuka_iiwa_arm_controller" />
    
    <node name="move_group_cpp" pkg="rl_project_dejulio" type="move_group_cpp" output="screen"/>

  </group>
  
  
  <!-- il nodo move_group_cpp l'ho messo anche in un launch a parte, move_group_cpp.launch, per avere un terminale più pulito-->
  
</launch>
